<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
     xmlns:f="http://xsd.helhum.io/ns/typo3/cms-fluid/master/ViewHelpers">

    <f:section name="Footer">
        <footer class="b-default__page-footer">
            <div class="row align-center text-center">
                <div class="small-12 columns">
                    <p>KURGARTENSTRASSE&nbsp;8, 67098&nbsp;BAD&nbsp;DÜRKHEIM, T&nbsp;+49&nbsp;6322&nbsp;941&nbsp;940,
                        <a href="mailto:info@medienagenten.de">INFO@MEDIENAGENTEN.DE</a></p>
                </div>
            </div>
        </footer>
    </f:section>

</div>
