<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
      xmlns:f="http://xsd.helhum.io/ns/typo3/cms-fluid/master/ViewHelpers">

    <f:section name="Header">
        <header class="b-default__page-header">
            <div class="row align-center text-center">
                <div class="small-12 columns">
                    <f:image class="l-default__image" src="EXT:siteconfig/Resources/Public/Images/buero_medienagenten_logo.png" />
                    <p>DOCKER&nbsp;GULP&nbsp;TYPO3 BOILERPLATE</p>
                </div>
            </div>
        </header>
    </f:section>

</div>