/******************************************************************************
    Page Variables
 *****************************************************************************/


/* Colors
*****************************************************************************/

$color-white: #ffffff;
$color-black: #000000;
$color-gold: #ffffff;
$color-grey: #ffffff;



/* Transitions
*****************************************************************************/

$transition: all 500ms ease;
$transition-fast: all 300ms ease;
$transition-slow: all 750ms ease;
