/******************************************************************************
    Module: Default
 *****************************************************************************/

/* Default theme
*****************************************************************************/
.m-default {

  &__menu {
    list-style: none;
    margin-left: 0;

    li {
      a:hover {
        text-decoration: underline;
      }
    }

  }
}