/******************************************************************************
    Layout: Default
 *****************************************************************************/

/* Default theme
*****************************************************************************/
.l-default {
  &__image {
    width: 80%;
    max-width: 250px;
    height: auto;
    margin: 0 auto rem-calc(20px);
  }
}